@media screen and (max-width: 1367px) {
  .works .works__content .block {
    width: 200px;
    height: 200px; } }

@media screen and (max-width: 1280px) {
  header nav .header__nav__right a {
    font-size: 15px; }
    header nav .header__nav__right a:not(:last-of-type) {
      margin-right: 20px; } }

@media screen and (max-width: 1024px) {
  header nav .header__nav__right a {
    font-size: 15px; }
    header nav .header__nav__right a:not(:last-of-type) {
      margin-right: 10px; }
  .expertise .expertise__content {
    flex-direction: row;
    justify-content: center; }
    .expertise .expertise__content .expretise__content__top {
      flex-wrap: wrap; }
      .expertise .expertise__content .expretise__content__top .expretise__content__top__block {
        border: none; }
        .expertise .expertise__content .expretise__content__top .expretise__content__top__block:first-of-type {
          border-right: 1px solid #817f86; }
        .expertise .expertise__content .expretise__content__top .expretise__content__top__block:last-of-type {
          border-right: 1px solid #817f86; }
        .expertise .expertise__content .expretise__content__top .expretise__content__top__block:nth-of-type(2n) {
          border-top: 1px solid #817f86;
          border-right: 1px solid #817f86;
          border-bottom: 1px solid #817f86; }
    .expertise .expertise__content .expretise__content__bottom {
      flex-wrap: wrap; }
      .expertise .expertise__content .expretise__content__bottom .expretise__content__bottom__block {
        border: none; }
        .expertise .expertise__content .expretise__content__bottom .expretise__content__bottom__block:nth-of-type(2n) {
          border-top: 1px solid #817f86;
          border-bottom: 1px solid #817f86; }
  .teams .teams__content {
    flex-wrap: wrap; }
    .teams .teams__content .block {
      padding-bottom: 20px; }
      .teams .teams__content .block:not(:last-of-type) {
        padding-right: 0px; }
      .teams .teams__content .block:first-of-type {
        padding-right: 20px; }
      .teams .teams__content .block:nth-of-type(3n) {
        padding-right: 20px; }
  .works .works__content {
    padding: 0; }
  .contact .contact__left form input,
  .contact .contact__left form textarea {
    width: 280px; }
  .contact .contact__right .contact__right__logo .block img {
    width: 100px; }
  .contact p {
    font-size: 25px; }
  footer .footer__top .footer__top__center p {
    font-size: 25px; }
  footer .footer__top .footer__top__center .footer__top__center__block {
    width: 225px; } }

@media screen and (max-width: 960px) {
  header nav {
    padding: 40px 50px; }
    header nav .burger {
      display: flex; }
    header nav .header__nav__right {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.8);
      transform: translateX(-100%);
      transition: 0.3s ease all;
      overflow: hidden; }
      header nav .header__nav__right .header__nav__right__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 100%;
        width: 50%;
        background-color: white; }
        header nav .header__nav__right .header__nav__right__body a {
          color: black;
          font-size: 40px;
          margin-right: 15px;
          margin-bottom: 20px; }
      header nav .header__nav__right.active {
        transform: translateX(0%); }
  header .header__content .header__content-p {
    font-size: 40px; }
  header .header__content .large {
    font-size: 20px;
    width: 700px; }
  .about .about__text {
    padding: 40px 50px; }
  .expertise {
    padding: 40px 50px; }
  .teams {
    padding: 40px 50px; }
    .teams .teams__content {
      width: 525px; }
  .works {
    padding: 40px 50px; }
  .peopleSay {
    padding: 40px 50px; }
  .contact {
    padding: 40px 50px; }
  footer {
    padding: 40px 50px;
    height: auto; }
    footer .footer__top {
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      footer .footer__top .footer__top__left .footer__top__left__top {
        justify-content: center; }
      footer .footer__top .footer__top__left .footer__top__left__bottom p {
        text-align: center; }
      footer .footer__top .footer__top__center {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px; } }

@media screen and (max-width: 768px) {
  .expertise .expertise__content .block {
    padding: 25px; } }

@media screen and (max-width: 425px) {
  header nav .header__nav__right .header__nav__right__body {
    width: 75%; }
    header nav .header__nav__right .header__nav__right__body a {
      font-size: 32px; }
  header .header__content .header__content-p {
    font-size: 20px; }
  header .header__content .large {
    font-size: 15px;
    width: auto; }
  header .header__content .header__content__circles {
    margin-top: 75px; }
  .about .about__text .about__text__left {
    display: none; }
  .about .about__text .about__text__right {
    margin-left: 0; }
    .about .about__text .about__text__right p:nth-of-type(2n) {
      font-size: 13px; }
    .about .about__text .about__text__right p:last-of-type {
      font-size: 13px; }
  .about .video {
    background-size: auto 100%; }
  .expertise .expertise__content {
    flex-direction: column; }
    .expertise .expertise__content .expretise__content__top .expretise__content__top__block {
      border-right: none; }
      .expertise .expertise__content .expretise__content__top .expretise__content__top__block:first-of-type {
        border-right: none; }
      .expertise .expertise__content .expretise__content__top .expretise__content__top__block:last-of-type {
        border-right: none; }
      .expertise .expertise__content .expretise__content__top .expretise__content__top__block:nth-of-type(2n) {
        border-right: none; }
    .expertise .expertise__content .expretise__content__bottom .expretise__content__bottom__block {
      border: none; }
      .expertise .expertise__content .expretise__content__bottom .expretise__content__bottom__block:nth-of-type {
        border-top: 1px solid #817f86;
        border-bottom: 1px solid #817f86; }
  .teams .teams__content {
    width: auto; }
    .teams .teams__content .teams__content__block:first-of-type {
      padding-right: 0; }
    .teams .teams__content .teams__content__block:nth-of-type(3n) {
      padding-right: 0; }
  .works .works__content {
    display: flex;
    flex-direction: row; }
    .works .works__content .block {
      width: 150px;
      height: 150px;
      margin-bottom: 20px; }
    .works .works__content .works__content__top {
      flex-wrap: wrap;
      margin-bottom: 0; }
    .works .works__content .works__content__bottom {
      flex-wrap: wrap; }
  .peopleSay {
    height: auto; }
    .peopleSay .peopleSay__textsSlider .peopleSay__textsSlider__slide p:first-of-type {
      width: 300px;
      font-size: 20px; }
    .peopleSay .peopleSay__slider .peopleSay__slider__images {
      display: flex; }
  .contact .contact__right {
    display: none; } }
