$mainBlue: #28bfce;
$mainGrey: #413d4b;
$mainLightGrey: #817f86;

@media screen and (max-width:1366px){
    .works{
        .works__content{
            .block{
                width: 200px;
                height: 200px;
            }
        }
    }
    footer{
        .footer__top{
            .footer__top__center{
                .footer__top__center__block{
                    width: 350px;
                }
            }
        }
    }
}

@media screen and (max-width:1280px){
    header{
        nav{
            .header__nav__right{
                a{
                    font-size: 15px;
                    &:not(:last-of-type){
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    header{
        nav{
            .header__nav__right{
                a{
                    font-size: 15px;
                    &:not(:last-of-type){
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .expertise{
        .expertise__content{
            flex-direction: row;
            justify-content: center;
            .expretise__content__top {
                flex-wrap: wrap;
                .expretise__content__top__block{
                    border: none;
                    &:first-of-type{
                        border-right: 1px solid $mainLightGrey;
                    }
                    &:last-of-type{
                        border-right: 1px solid $mainLightGrey;
                    }
                    &:nth-of-type(2n){
                        border-top: 1px solid $mainLightGrey;
                        border-right: 1px solid $mainLightGrey;
                        border-bottom: 1px solid $mainLightGrey;
                    }
                }
            }
            .expretise__content__bottom {
                flex-wrap: wrap;
                .expretise__content__bottom__block{
                    border: none;
                    &:nth-of-type(2n){
                        border-top: 1px solid $mainLightGrey;
                        border-bottom: 1px solid $mainLightGrey;
                    }
                }
            }
        }
    }
    .teams{
        .teams__content{
            flex-wrap: wrap;
            .block{
                &:not(:last-of-type){
                    padding-right: 0px;
                }
                padding-bottom: 20px;
                &:first-of-type{
                    padding-right: 20px;
                }
                &:nth-of-type(3n){
                    padding-right: 20px;
                }
            }
        }
    }
    .works{
        .works__content{
            padding: 0;
        }
    }
    .contact{
        .contact__left{
            form{
                input,
                textarea{
                    width: 280px
                }
            }
        }
        .contact__right{
            .contact__right__logo{
                .block{
                    img{
                        width: 100px;
                    }
                }
            }
        }
        p{
            font-size: 25px;
        }
    }
    footer{
        .footer__top{
            .footer__top__center{
                p{
                    font-size: 25px;
                }
                .footer__top__center__block{
                    width: 225px;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    header{
        nav{
            padding: 40px 50px;
            .burger{
                display: flex;
            }
            .header__nav__right{
                position: fixed;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: rgba(0,0,0,0.8);
                transform: translateX(-100%);
                transition: 0.3s ease all;
                overflow: hidden;
                .header__nav__right__body{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                    height: 100%;
                    width: 50%;
                    background-color: white;
                    a{
                        color: black;
                        font-size: 40px;
                        margin-right: 15px;
                        margin-bottom: 20px;
                    }
                }
                &.active{
                    transform: translateX(0%);
                }
            }
        }
        .header__content{
            .header__content-p{
                font-size: 40px;
            }
            .large{
                font-size: 20px;
                width: 700px;
            }
        }
    }
    .about{
        .about__text{
            padding: 40px 50px;
        }
    }
    .expertise{
        padding: 40px 50px;
    }
    .teams{
        padding: 40px 50px;
        .teams__content{
            width: 525px;
        }
    }
    .works{
        padding: 40px 50px;
    }
    .peopleSay{
        padding: 40px 50px;
    }
    .contact{
        padding: 40px 50px;
    }
    footer{
        padding: 40px 50px;
        height: auto;
        .footer__top{
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .footer__top__left{
                .footer__top__left__top{
                    justify-content: center;
                }
                .footer__top__left__bottom{
                    p{
                        text-align: center;
                    }
                }
            }
            .footer__top__center{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 30px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header{
        nav{
            padding: 40px 20px;
            .header__nav__right{
                .header__nav__right__body{
                    width: 75%;
                    a{
                        font-size: 32px;
                    }
                }
            }
        }
        .header__content{
            .header__content-p{
                font-size: 20px;
            }
            .large{
                font-size: 15px;
                width: auto;
            }
            .header__content__circles{
                margin-top: 75px;
            }
        }
    }
    .about{
        .about__text{
            padding: 40px 20px;
        }
    }
    .teams{
        padding: 40px 20px;
    }
    .works{
        padding: 40px 20px;
    }
    .expertise{
        padding: 40px 20px;
        .expertise__content{
            .block{
                padding: 25px;
            }
        }
    }
    .peopleSay{
        padding: 40px 20px;
        .peopleSay__textsSlider{
            .peopleSay__textsSlider__slide{
                p{
                    &:first-of-type{
                        width: auto;
                    }
                }
            }
        }
    }
    .contact{
        padding: 40px 20px;
        justify-content: center;
        .contact__right{
            display: none;
        }
    }
}

@media screen and (max-width:425px) {
    header{
        nav{
            .header__nav__right{
                .header__nav__right__body{
                    width: 75%;
                    a{
                        font-size: 32px;
                    }
                }
            }
        }
        .header__content{
            .header__content-p{
                font-size: 20px;
            }
            .large{
                font-size: 15px;
                width: auto;
            }
            .header__content__circles{
                margin-top: 75px;
            }
        }
    }
    .about{
        .about__text{
            .about__text__left{
                display: none;
            }
            .about__text__right{
                margin-left: 0;
                p{
                    &:nth-of-type(2n){
                        font-size: 13px;
                    }
                    &:last-of-type{
                        font-size: 13px;
                    }
                }
            }
        }
        .video{
            background-size: auto 100%;
        }
    }
    .expertise{
        .expertise__content{
            flex-direction: column;
            .expretise__content__top {
                .expretise__content__top__block{
                    border-right: none;
                    &:first-of-type{
                        border-right: none;
                    }
                    &:last-of-type{
                        border-right: none;
                    }
                    &:nth-of-type(2n){
                        border-right: none;
                    }
                }
            }
            .expretise__content__bottom {
                .expretise__content__bottom__block{
                    border: none;
                    &:nth-of-type{
                        border-top: 1px solid $mainLightGrey;
                        border-bottom: 1px solid $mainLightGrey;
                    }
                }
            }
        }
    }
    .teams{
        .teams__content{
            width: auto;
            .teams__content__block{
               &:first-of-type{
                    padding-right: 0;
               }
               &:nth-of-type(3n){
                   padding-right: 0;
               }
            }
        }
    }
    .works{
        .works__content{
            display: flex;
            flex-direction: row;
            .block{
                width: 150px;
                height: 150px;
                margin-bottom: 20px;
            }
            .works__content__top{
                flex-wrap: wrap;
                margin-bottom: 0;
            }
            .works__content__bottom{
                flex-wrap: wrap;
            }
        }
    }
    .peopleSay{
        height: auto;
        .peopleSay__textsSlider{
            .peopleSay__textsSlider__slide{
                p{
                    &:first-of-type{
                        font-size: 20px;
                    }
                }
            }
        }
        .peopleSay__slider{
            .peopleSay__slider__images{
                display: flex;
            }
        }
    }
}